DATABASE_URL="Link da base de dados"
JWT_SECRET="Sua chave"

SMTP_HOST="Serviço SMTP, ex: smtp.gmail.com"
SMTP_PORT="Porta do serviço SMTP, ex: 587"
SMTP_USER="Email de utilizador"
SMTP_PASS="Senha da Aplicação(GMAIL)"

FRONTEND_URL="Link do frontend"

CONTACT_EMAIL="Email de contacto"